@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karma:wght@300;400;500;600;700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.manrope-font-500 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.manrope-font-700 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.manrope-font-bold{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-font-400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.select-arrow {
  color: black;
}

.dark .select-arrow {
  color: white;
}
.assets-responsive {
  width: 24rem;      
}

/* For small screens (e.g. below 640px) */
@media (min-width: 320px) and (max-width: 340px) {
  .assets-responsive {
    width: 20rem !important;
  }
}

@media (min-width: 341px) and (max-width: 360px) {
  .assets-responsive {
    width: 19rem !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .assets-responsive {
    width: 20.5rem !important;
  }
}


@media (min-width: 375px) and (max-width: 380px) {
  .assets-responsive {
    width: 21.5rem !important;
  }
}

@media (min-width: 381px) and (max-width: 400px) {
  .assets-responsive {
    width: 23.5rem !important;
  }
}

@media (min-width: 401px) and (max-width: 410px) {
  .assets-responsive {
    width: 24.5rem !important;
  }
}


@media (min-width: 411px) and (max-width: 429px) {
  .assets-responsive {
    width: 23.5rem !important;
  }
}


@media (min-width: 430px) and (max-width: 440px) {
  .assets-responsive {
    width: 25.5rem !important;
  }
}

@media (min-width: 450px) and (max-width: 470px) {
  .assets-responsive {
    width: 26rem !important;
  }
}

@media (min-width: 472px) and (max-width: 490px) {
  .assets-responsive {
    width: 27rem !important;
  }
}


@media (min-width: 501px) and (max-width: 560px) {
  .assets-responsive {
    width: 31rem !important;
  }
}
/* tablet for  */

@media (min-width: 768px) and (max-width: 800px) {
  .assets-responsive {
    width: 32rem !important;
  }
}

@media (min-width: 801px) and (max-width: 830px) {
  .assets-responsive {
    width: 34rem !important;
  }
}


@media (min-width: 841px) and (max-width: 950px) {
  .assets-responsive {
    width: 38rem !important;
  }
}


@media (min-width: 851px) and (max-width: 950px) {
  .assets-responsive {
    width: 36rem !important;
  }
}

@media (min-width: 1000px) and (max-width: 1030px) {
  .assets-responsive {
    width: 34rem !important;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}